h1{
    text-align: center;
    color: rgb(154, 50, 50);
    font-size: 70px;

}
.cancha{
    
    background-color: #8cb27c;
    position: absolute;
    top:200px;
    left:400px;
    width: 700px;
    height: 350px;   

}
.marco{
    background-color: #8cb27c;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 664px;
    height: 314px;
    border: 3px solid rgb(252, 252, 252);
    box-sizzing: border-box;

}
.arc1{
    background-color: #8cb27c;
    position: absolute;
    top: 90px;
    right: 0px;
    width: 80px;
    height: 130px;
    border-left: 3px solid rgb(252, 252, 252);
    border-top: 3px solid rgb(252, 252, 252);
    border-bottom: 3px solid rgb(252, 252, 252);
}

.arc2{
    background-color: #8cb27c;
    position: absolute;
    top: 90px;
    left: 0px;
    width: 80px;
    height: 130px;
    border-right: 3px solid rgb(252, 252, 252);
    border-top: 3px solid rgb(252, 252, 252);
    border-bottom: 3px solid rgb(252, 252, 252);
}

.ball-big{

    background-color: #8cb27c;
    position: absolute;
    top: 90px;
    left: 258px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 3px solid rgb(252, 252, 252);
    
}
.ball1{
    background-color: #f0d7d7;
    position: absolute;
    top: 92px;
    left: 68px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
}
.ball2{
    background-color: #f0d7d7;
    position: absolute;
    bottom: 100px;
    right: 90px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
}

.ball3{
    background-color: #f0d7d7;
    position: absolute;
    top: 50px;
    right: 330px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
}